* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body .main-container {
  width: 94.7%;
  font-family: 'Inter', sans-serif;
  font-size: 3.2rem;
  margin: 0 auto; }

.main-container {
  height: 80rem;
  background-image: url("../images/pattern-curve.svg"), url("../images/pattern-bg.svg"), url("../images/pattern-quotes.svg");
  background-position: bottom 0 left 0, bottom 9.4rem right 7.4rem, top 21.3rem left 26rem;
  background-repeat: no-repeat; }

.components {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .components__text-holder {
    position: relative;
    left: -23.3rem;
    z-index: 1;
    width: 45%;
    line-height: 4.4rem; }
    .components__text-holder .quote {
      margin: 4rem 0 2rem; }
    .components__text-holder .name-para {
      font-size: 2rem; }
    .components__text-holder .name {
      font-weight: bold;
      margin-right: 2rem; }
  .components__img-container {
    position: absolute;
    top: 11.3rem;
    right: 16.4rem; }
    .components__img-container .photo {
      border-radius: 0.5rem;
      position: relative; }
    .components__img-container .button-container {
      position: absolute;
      bottom: -1.9rem;
      left: 6.35rem;
      width: 11.2rem;
      height: 5.5rem;
      background: blue;
      border-radius: 3rem;
      display: flex;
      justify-content: center;
      align-items: center; }
    .components__img-container .btn {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch; }
