//************************COLOR-VARIABLES**************************//

$color-primary-blue: hsl(240, 38%, 20%);
$color-primary-white: #fff;

$color-secondary-blue: hsl(240, 18%, 77%);
$color-secondary-violet: rgba(132, 103, 211, .5);
