.main-container {
  height: 80rem;
  background-image: url('../images/pattern-curve.svg'), url('../images/pattern-bg.svg'), url("../images/pattern-quotes.svg");
  background-position: bottom 0 left 0, bottom 9.4rem right 7.4rem, top 21.3rem left 26rem;
  background-repeat: no-repeat;
}

.components {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__text-holder {
    position: relative;
    left: -23.3rem;
    z-index: 1;
    width: 45%;
    line-height: 4.4rem;
  }

  &__img-container {
    position: absolute;
    top: 11.3rem;
    right: 16.4rem;


    .photo {
      border-radius: 0.5rem;
      position: relative;
      box-shadow: 0px 9px 37px -14px rgba(191,191,191,1);
      animation: img-move .8s;
    }

    .button-container {
      position: absolute;
      bottom: -1.9rem;
      left: 6.35rem;
      width: 11.2rem;
      height: 5.5rem;
      background: $color-primary-white;
      border-radius: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 9px 37px -14px rgba(191,191,191,1);
      animation: button-move .8s;
    }

    .btn {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      cursor: pointer;
      transition: transform .5s;
    }

    .next-btn:hover {
        transform: translateX(-.2rem);
    }

    .previous-btn:hover {
        transform: translateX(.2rem);
    }
  }
}
